/*
  * Prueba Técnica, Creative Drive Latam 2020, Api de Youtube
  * ChannelPlay 
  * author Arturo Romero Zamora aromero2662@hotmail.es |aromero2662@gmail.com
  *
*/

/*Declaraciones de variables*/
$primary-color: black;
$sec-color: white;
$max-w-h: 100%; /*Declaramos el valor de la variable al 100% para altura y anchura. */

body 
{
    font-family: 'Open Sans', sans-serif;
}

.contenedor /*Le damos tamaño a nuestro div principal*/
{
	width:100%;
	max-width: $max-w-h;
	margin:0 auto;
	overflow: hidden;
}

header{ 
    margin: 20px 0;
    width: $max-w-h;
    height: $max-w-h;

    .navcolor{ /*Le asignamos el color negro a nuestro menu (nav)*/
        background-color: $primary-color;
    }
    #reloj {/*Inicio de atributos para el reloj*/
        width: 300px; 
        padding: 5px 10px; 
        font: bold 1.5em dotum, "lucida sans", arial;
        float: right; 
        color: $sec-color;
     }/*Fin de atributos para el reloj*/
    
}

.filtrado{  /* Le damos atributos al primer section donde tenemos nuestro input y button de busqueda*/
	clear: both;
	float: left;
	box-sizing: border-box;
	width: $max-w-h;
	height: 500px;
	color: $primary-color;
	background-image:  url("../img/azulrojoo.jfif");
	background-size: cover;
	background-position: center;
    margin-top: 30px;
    
    .btnbuscar{ /*Atributos al boton con el que realizamos la busqueda*/
        margin-left: 10px; 
        width: 90px; 
        height: 35px; 
        background-image: url("../img/lupa.png");
        background-repeat: no-repeat; 
        background-position: 50% 50%;
    }
    
    .btncancelar{ /*Atributos al boton con el que realizamos la busqueda*/
        margin-left: 10px; 
        width: 90px; 
        height: 35px; 
        background-image: url("../img/refresh.png");
        background-repeat: no-repeat; 
        background-position: 50% 50%;
    }

    .container-fluid { /*Posicionamos el boton en el centro de la pantalla*/
        display: flex;
        justify-content: center;	
    }
    
    .centered {/*Posicionamos el input en el centro de la pantalla*/
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 350px;
      }
} //Fin, section filtrado

.mostrarvideos{ /* Le damos atributos al segundo section donde desplegamos nuestras busquedas*/
	width: $max-w-h;
	height: $max-w-h;
	padding: 20px;
	background-color:rgb(247, 247, 247);
	float:left;
	box-sizing: border-box;
	margin-top: 5px;
	color: $sec-color;
}

footer{  /* Atributos a nuestro pie de pagina*/
	clear: both;
	float: left;
	box-sizing: border-box;
    width: $max-w-h;
    height: 100px;
	padding: 20px;
	color: $sec-color;
	background: $primary-color;
	margin-top: 5px;
}


/*Inicio del metodo de hacer responsivo la web*/
@media screen and (max-width: 800px){ /*Al llegar a 800px al reducir la pantalla hacemos que tome el 100%*/
	.footer,
	.filtrado,.mostrar
	{
		width: $max-w-h;
	}
}
@media screen and (max-width: 500px){/*Al llegar a 500px al reducir la pantalla hacemos que tome el 100%*/
	.contenedor
	{
		width: $max-w-h;
	}
}/*Fin del metodo responsivo */


/*Atrubutos y funciones para boton que nos ayuda a subir al menus desde abajo de la pantalla*/
#backtotop.visible {
    visibility: visible;
}
#backtotop {
    z-index: 999;
    display: inline-block;
    position: fixed;
    visibility: hidden;
    bottom: 20px;
    right: 25px;
    width: 50px;
    height: 80px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    a {
        outline: none;
        text-decoration: none;
    }
     ::before, *::after {
        transition: all .3s ease-in-out;
    }
     ::before, *::after {
        box-sizing: border-box;
    }
    a:-webkit-any-link {
        cursor: pointer; 
    }
    
}
  /*Fin para subir*/

 